<script src="https://cdn.jsdelivr.net/npm/otag@1.3.2/otag.js"></script>
<script src="kalıp.js"></script>
<script src="dizi.js"></script>
<script src="uygu.js"></script>
<link rel="stylesheet" href="biçim.css">